* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 100px;
  background-color: bisque;
}
.img {
  position: relative;
  bottom: -4px;
}

.primary-btn {
  background-color: rgb(159, 248, 17);
  padding: 10px 12px;
  border: 0;
  cursor: pointer;
  margin-top: 14px;
  font-size: 15px;
}
p {
  font-family: normal;
  margin-top: 20px;
}
.navbar-width {
  width: 370px;
  height: 450px;
}
.title {
  font-size: 40px;
  color: rgb(116, 126, 134);
}

.main-title {
  text-align: center;
  margin-top: 50px;
}

.featured {
  display: flex;
  padding: 0 100px;
  justify-content: space-around;
  margin-top: 40px;
}

.featured-1 {
  background-color: aqua;
  padding: 50px 40px 0 40px;
  border-radius: 230px 230px 0 0;
}
.featured-1 > img {
  position: relative;
  bottom: -4px;
}

.featured-2 {
  background-color: rgb(99, 45, 56);
  padding: 50px 40px 0 40px;
  border-radius: 230px 230px 0 0;
}
.featured-2 > img {
  position: relative;
  bottom: -4px;
}
.featured-3 {
  background-color: rgb(163, 160, 187);
  padding: 50px 40px 0 40px;
  border-radius: 230px 230px 0 0;
}
.featured-3 > img {
  position: relative;
  bottom: -4px;
}
.list {
  display: flex;
  justify-content: space-around;
  padding: 0 100px;
  margin-top: 20px;
}
.list > li {
  list-style: none;
  text-decoration: underline;
  cursor: pointer;
}

.off {
  color: rgb(216, 24, 24);
}
#one {
  text-align: center;
}
#nai {
  height: 1000px;
}
.d-flex {
  display: flex;
  justify-content: center;
  width: 300px;
}
.d-flex2 {
  margin-top: 50px;
  height: 550px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 0 100px;
  background-color: bisque;
}


.container > img{
    width: 1624px;
}
.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding: 0 100px;
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }

  #input{
    width: 500px;
    padding: 10px;
    border: 0;
  
  }
  